@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Martel+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mandali&family=Martel+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mandali&family=Martel+Sans:wght@700&family=Montserrat:wght@600&display=swap');

.Rodape {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #004156;
    height: 29vh;

    .cima {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
    }

    .esquerda > h3 {
        font-family: 'Martel Sans';
        font-size: 20px;
        color: #FFF;
        margin-bottom: 15px;
    }

    .rs {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
    }

    .rs > img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .rs > p {
        font-family: 'Mandali';
        font-size: 18px !important;
        color: #FFF;
    }

    .centro {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-left: -60px;
        margin-top: 30px;
    }

    .centro > img {
        width: 130px;
        height: 110px;
        margin-right: -60px;
        margin-top: -30px;
    }

    .centro > h8 {
        font-family: 'Montserrat';
        font-size: 15px;
        color: #577883;
        margin-top: 65px;
        margin-right: -70px;
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
    }

    .direita > h2 {
        color: #FFF;
        font-family: 'Martel Sans';
        font-size: 15px;
        text-align: left;
    }

    .baixo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .baixo > h8 {
        font-family: 'Mandali';
        font-size: 15px !important;
        color: #577883;
        text-align: center;
    }

    @media (max-width: 1300px) {
        
        .Rodape {
            padding: 50px;
        }

        .esquerda {
            margin-bottom: 20px;
        }

        .rs > p {
            text-align: left;
            font-size: 25px;
        }

        .rs {
            margin-bottom: 20px;
        }

        .centro {
            text-align: center;
            margin-left: 0;
        }

        .direita {
            text-align: center;
            margin-top: 20px;
        }

        .baixo {
            margin-top: -5px;
        }

        .baixo > h8 {
            font-size: 15px;
        } 
    }
}