@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Martel+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mandali&family=Martel+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mandali&family=Martel+Sans:wght@700&family=Montserrat:wght@600&display=swap');

.Rodape {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #004156;
    height: 55vh;

    .cima {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
    }

    .esquerda > h3 {
        font-family: 'Martel Sans';
        font-size: 32px;
        color: #FFF;
    }

    .rs {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
    }

    .rs > img {
        width: 37px;
        height: 37px;
        margin-right: 10px;
    }

    .rs > p {
        font-family: 'Mandali';
        font-size: 30px;
        color: #FFF;
    }

    .centro {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-left: -60px;
    }

    .centro > img {
        width: 180px;
        height: 160px;
    }

    .centro > h8 {
        font-family: 'Montserrat';
        font-size: 20px;
        color: #577883;
        margin-top: 155px;
        margin-bottom: -15px;
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .direita > h2 {
        color: #FFF;
        font-family: 'Mandali';
        font-size: 24px;
        text-align: center;
    }

    .baixo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .baixo > h8 {
        font-family: 'Mandali';
        font-size: 24px;
        color: #577883;
        text-align: center;
    }

    @media (max-width: 1300px) {
        
        .Rodape {
            padding: 50px;
        }

        .esquerda {
            margin-bottom: 20px;
        }

        .rs > p {
            text-align: left;
            font-size: 25px;
        }

        .rs {
            margin-bottom: 20px;
        }

        .centro {
            text-align: center;
            margin-left: 0;
        }

        .direita {
            text-align: center;
            margin-top: 20px;
        }

        .baixo {
            margin-top: -5px;
        }

        .baixo > h8 {
            font-size: 15px;
        } 
    }
}