.Rodape {
    display: flex;
    flex-direction: column;
    padding: 30px;

    .cima {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
    }
}