@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.Cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 135px;
  position: fixed;
  z-index: 2;
  background-color: #fff;

  .l > img {
    width: 382px;
    height: 108px;
  }

  .barrapesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    position: relative;
    margin-left: 20px;
   

    .lupa-container {
      cursor: pointer;
      position:absolute;
      left: 10px;
      top: 7px;


      .lupa {
        height:4.8vh;
        width:4.8vh;          
      }
    }

    input {
      width: 561px;
      height: 5.9vh ;
      border-radius: 50px;
      background-color: #c2c2c2;
      border: none;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 20px;

      &:focus {
        outline: none;
      }
    }
  }

  .trilogia {
    display: flex;
    flex-direction: row;

    a.link-padrao {
      margin-left: 30px;
      width: 54px;
      height: 54px;
    }
  }

  .resultados {
    display: flex;
    flex-direction: column;

    div {
      padding: 10px;
      border: 1px solid #ddd;
      margin-top: 10px;
      background-color: #f9f9f9;
      font-family: 'Inter', sans-serif;
      font-size: 18px;
    }
  }

  @media (max-width: 1300px) {
    .l > img {
      max-width: 100%;
      height: auto;
      margin-left: 10px;
    }

    .barrapesquisa {
      margin-right: 100px;

      input {
        width: 520px;
      }
    }

    .trilogia a.link-padrao {
      margin-left: 15px;
    }
  }
}
