@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.Cabecalho {
  align-items: center;
  background-color: #fff;
  box-shadow: -3px 3px 20px 12px rgba(0,0,0,.2);
  display: flex;
  flex-direction: row;
  height: 9%;
  justify-content: space-between;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.Cabecalho .l > img {
  width: 16vh;
  height: 12vh;
}

.Cabecalho .barrapesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  position: relative;
  margin-left: -15px;
}

.Cabecalho .barrapesquisa .lupa-container {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 7px;
}

.Cabecalho .barrapesquisa .lupa {
  height: 4.8vh;
  width: 4.8vh;
}

.Cabecalho .barrapesquisa input {
  width: 561px;
  height: 5.9vh;
  border-radius: 50px;
  background-color: #c2c2c2;
  border: none;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.Cabecalho .barrapesquisa input:focus {
  outline: none;
}

.Cabecalho .trilogia {
  display: flex;
  flex-direction: row;
}

.Cabecalho .trilogia a.link-padrao {
  margin-left: 30px;
  width: 30px;
  height: 30px;
}

.Cabecalho .resultados {
  display: flex;
  flex-direction: column;
}

.Cabecalho .resultados div {
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

::-webkit-scrollbar {
height: 12px; 
width: 12px; 
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #0cb9ee; 
border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

@media (max-width: 768px) {
  .Cabecalho {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .Cabecalho .barrapesquisa {
    margin: 20px 0px;
  }
  
  .Cabecalho .barrapesquisa input {
    width: 100%;
    max-width: 400px;
  }
  
  .Cabecalho .trilogia {
    margin-top: 20px;
  }
  
  .Cabecalho .trilogia a.link-padrao {
    margin: 0 15px;
  }

} 