.livrocim{
    width: 1270px;
}

.meio{
    font-size: 25px;
    text-align: center;
    width: 100%;
    background-color: #1A7F9F;
    font-style: normal;
    padding: 20px;
    margin: 0px;
    color: #fff;
};

.final {
    display: flex;
    flex-direction: row;

};

.textos {
    display: flex;
    flex-direction: column;
}