@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Mandali&family=Martel+Sans:wght@700&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Mandali&family=Martel+Sans:wght@700&family=Montserrat:ital,wght@0,600;1,400&display=swap');

.App {
  text-align: center;

  .Centro {
    background-color: rgba(26, 127, 159, 1);
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .Ofertas {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
  }

  .Ofertag {
    background-color: #FFF;
    border-radius: 15px;
    height: 250px;
    width: 1700px;
    position: relative;
    margin-bottom: 20px;
  }

  .esquerda-o {
    position: absolute;
    width: 68px;
    height: 44px;
    left: 10px;
    top: 70px;
  }

  .ofertin {
    height: 247px;
    width: 1050px;
  }

  .direita-o {
    position: absolute;
    width: 68px;
    height: 44px;
    right: 10px;
    top: 70px;
  }

  .bolinhas {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px;
  }

  .bolinha1 {
    background-color: #2c2c2c;
    width: 21px;
    height: 21px;
    border-radius: 100px;
    margin-right: 10px;
  }

  .bolinha2 {
    background-color: #686767;
    width: 21px;
    height: 21px;
    border-radius: 100px;
    margin-right: 10px;
  }

  .bolinha3 {
    background-color: #686767;
    width: 21px;
    height: 21px;
    border-radius: 100px;
  }

  .Ofertasp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1372px;
  }

  .Ofertap {
    width: 676px;
    height: 90px;
    background-color: #2c2c2c;
    border-radius: 15px;
  }

  .Ofertap {
    width: 676px;
    height: 90px;
    background-color: #2c2c2c;
    border-radius: 15px;
  }

  .MaisVen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .MaisVen > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #FFF;
    text-align: left;
    font-size: 32px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .lesq {
    position: absolute;
    left: 10px;
    top: 165px;
  }

  .ldir {
    position: absolute;
    right: 10px;
    top: 165px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 246px;
    height: 433px;
    background-color: #FFF;
    margin-left: 10px;
    padding: 20px;
    border-radius: 15px;
  }

  .card > a {
    text-decoration: none;
  }

  .imagem {
    width: 203px;
    height: 304px;
    background-color: #686767;
    margin-bottom: 20px;
  }

  a > h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #000;
  }

  a > h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    color: #000;
  }

  @media (max-width: 1300px) {

    .App {
      width: 100vw;
      overflow: hidden;
    }
    
    .Ofertag {
      width: 1165px;
    }

    .bolinhas {
      left: 540px;
    }

    .Ofertasp {
      width: 1165px;
    }

    .Ofertap {
      width: 570px;
    }

    .card {
      width: 173px;
    }

  }
}