@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Mandali&family=Martel+Sans:wght@700&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Mandali&family=Martel+Sans:wght@700&family=Montserrat:ital,wght@0,600;1,400&display=swap');


.pgmt{
    display: flex;
    flex-direction: column;
}



.fmrs {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}



.tudoacho{
    margin-top: 125px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(35,148,184,1) 87%);        
    padding: 30px;
}

.boxbranca{
        background-color: #F2EDED;
        border-radius: 20px;
        padding: 25px;
        height: 720px;
}

.formaspgto{
    display: flex;
    flex-direction: row;
    
}

.formaspgto > h2 {
    margin: 30px;
}

.textinhos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 338px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    }

.caixascinza{
    display: flex;
    flex-direction: row;
    
}

.caixacnz1{
    background-color: #D9D9D9;
    width: 700px;
    margin-right: 20px;
}

.caixacnz2{
    background-color: #D9D9D9;
    width: 400px;
    padding: 20px;
    height: 120px;
    font-family: 'Montserrat', sans-serif;

}

.textos {
    color: #000;
    
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content:space-between;    
    font-family: 'Montserrat', sans-serif;
}


.trocarend{
    background-color: #3E88B3;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.trocarend:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #52a1cf;
}

.botõesbrabo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;

  .debitooo,
  .boleto,
  .PIX {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px; 
    height: 60px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;

    img {
      width: 60px;

    }

    .bt-txt {
      text-align: center;
      margin: 0;
      padding: 0 200px;
    
      p {
        margin: 1px;
        padding: 1px; 
        font-size: 18px;
      }
    
      b {
        font-size: 16px;
      }

      
    }    
  }

  .debitooo {
    background-color: #FE3737;
    color: #ffffff;
    width: 695px;
  }

  .debitooo:hover {
    cursor: pointer;
  }

  .boleto {
    background-color: #8D959A;
    color: #ffffff;
    width: 435px;
  }

  .boleto:hover {
    cursor: pointer;
  }

  .PIX {
    background-color: #079388;
    color: #ffffff;
    width: 695px; 
    margin: 0;
  }

  .PIX:hover {
    cursor: pointer;
  }

  .bt-txt-pix {
    text-align: center;
    margin: 0;
    padding: 0 290px;
  
    p {
      margin: 1px;
      padding: 1px; 
      font-size: 18px;
    }
  
    b {
      font-size: 16px;
    }
  }    

  .bt-txt-blt {
    text-align: center;
    margin: 0;
    padding: 0 150px;
  
    p {
      margin: 0px;
      padding: 0px; 
      font-size: 18px;
    }
  
    b {
      font-size: 16px;
    }
  }  
  
  .botaos {
    text-decoration: none;
    cursor: pointer;
  }
}