
.pgmt{
    display: flex;
    flex-direction: column;
}

.tudoacho{
    margin-top: 150px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(35,148,184,1) 87%);        
    padding: 30px;
}

.boxbranca{
        background-color: #F2EDED;
        border-radius: 20px;
        padding: 25px;
        height: 1000px;
}

.formaspgto{
    display: flex;
    flex-direction: row;
}

.formaspgto > h2 {
    margin: 30px;
}

.textinhos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 360px;
}

.caixascinza{
    display: flex;
    flex-direction: row;
    
}

.caixacnz1{
    background-color: #D9D9D9;
    width: 700px;
    margin-right: 20px;
}

.caixacnz2{
    background-color: #D9D9D9;
    width: 400px;
    padding: 20px;
    height: 120px;
}

.textos {
    color: #000;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.trocarend{
    background-color: #3E88B3;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.trocarend:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #52a1cf;
}

.botõesbrabo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .debitooo,
  .boleto,
  .PIX {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px; /* Ajuste a largura conforme necessário */
    height: 100px;
    margin-bottom: 20px;

    img {
      margin-right: 10px;
    }

    .bt-txt {
      text-align: center;

      p {
        margin: 0;
        font-size: 18px;
      }

      b {
        font-size: 16px;
      }
    }
  }

  .debitooo {
    background-color: #FE3737;
    color: #ffffff;
  }

  .boleto {
    background-color: #8D959A;
    color: #ffffff;
    width: 450px; /* Ajuste a largura conforme necessário */
  }

  .PIX {
    background-color: #079388;
    color: #ffffff;
  }
}