@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Carrinho {
    display: flex;
    flex-direction: column;

    .f-meio {
        display: flex;
        flex-direction: column;
        margin-top: 125px;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(35,148,184,1) 87%);
        padding: 30px;
    }

    .m-cima {
        display: flex;
        flex-direction: row;
        align-items: center;
    }



    .m-cima > h1 {
        margin-left: 475px;
        color: #FFF;
        font-size: 32px;

    }

    .quadro {
        background-color: #FFF;
        border-radius: 20px;
        padding: 24px 48px;
    }

    .f-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
    }

    .f-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-bottom: 20px;
        position: relative;
    }

    .f-card > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
        color: #000;
    }

    .livro {
        width: 165px;
        height: 229px;
        background-color: #686767;
    }

    a > button {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
        width: 165px;
        height: 49px;
        border: none;
        border-radius: 10px;
        color: #FFF;
        background-color: #DB4438;
        transition-timing-function: ease-in-out;
        transition-duration: .2s;
        transition-property: background-color,color,box-shadow,-webkit-box-shadow;
    }

    a > button:hover {
        cursor: pointer;
        background-color: #d84d43;
    }
}
