.Ped {
    display: flex;
    flex-direction: column;

    .square {
        background-color: #D8D6D6;
        margin: 40px;
        width: 300px;
        display: flex;
        flex-direction: row;
    }

    .quadrados-cima{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .MyPedss{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: normal
    }

    .eanda{
        margin-left: 40px;
        margin-bottom: -30px;
        font-weight: normal
    }

    .direita {
        display: flex;
        flex-direction: column;    
    }

    .direita > p {
        justify-content: center;
        align-items: center; 
        text-align: center;
        font-size: 15px;
    }

    .mask {
        margin-top: 80px;
    }

    .Meio {
        margin-top: 150px;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(35,148,184,1) 87%);        
        padding: 30px;
    }

    .quad {
        background-color: #fff;
        border-radius: 20px;
        padding: 25px;
    }

    .quadrados-baixo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .img {
        width: 120px;
        height: 220px;
        background-color: #686767;
        margin: 20px;
    }
}